<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.bruno.meumetro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.MeuMetroApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/meu_metro_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">


        <!-- Activities -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LinesInformationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SettingsNotificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SmsDenunciationActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".TransportMapActivity" />

        <activity
            android:name=".PlacesNearbyActivity"
            android:screenOrientation="portrait" />

        <!-- Services -->
        <service android:name=".services.MeuMetroMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.MeuMetroFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Meta data -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5daf77d4a129e29ca7a67194f1d265fc25eded60" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6252587368690911~6845972159" />

    </application>

</manifest>